<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/css/main.css" rel="stylesheet" />
    <title> PlayMaker </title>
</head>
<body>
<header>
    <div id="logo_block">
        <div id="logo">
            <a href="/"></a>
        </div>
    </div>
</header>
<section>
    <div class="find_block">
        <div class="block_header">Найти похожее</div>
        <form action="get_genre" method="post">
            <div class="my_line"> <div class="my_text">Артист</div><div class="selector"><input type="text" name="singer"></div></div>
            <div class="my_line"> <div class="my_text">Песня</div><div class="selector"><input type="text" name="song"></div></div>
            <div class="bitton_click"><input type="submit" value="Найти"></div>
        </form>
    </div>
    <div class="find_block">
        <div class="block_header">Расширенный поиск</div>
        <form action = "get_all" method="post">
            <div class="my_line"><div class="my_text">Название</div><div class="selector"><input type="text" name="what"></div></div>
            <div class="my_line"><div class="my_text">Параметр</div><div class="selector"><select id="soflow" name="by">
			  <option value="Song">Песня</option>
			  <option value="Artist">Артист</option>
			  <option value="Genre">Жанр</option>
			</select></div></div>
            <div class="bitton_click"><input type="submit" value="Найти"></div>
        </form>
    </div>
</section>
</body>
</html>